{% extends "base.html" %}

{% block title %}shk - changelog{% endblock %}

{% block content %}

<h1>Changelog</h1>

<h2>v1.10<small> Unreleased</small></h2>
<ul>
  <li>Added the ability to make Exchange Contracts repeat a set number of times.</li>
</ul>

<h2>v1.02<small> Unreleased</small></h2>
<ul>
  <li>The Exchange Contract creation process has been streamlined.</li>
</ul>

<h2>v1.01<small> 5/18/12</small></h2>
<ul>
  <li>Added changelog.</li>
  <li>When creating a Recall Contract, the quantity field is now automatically initially set to the maximum quantity that can be recalled. You can still change the value in the field.</li>
</ul>

<h2>v1.00<small> 5/12/12</small></h2>
<ul>
  <li>Initial release.</li>
</ul>

{% endblock %}